a.active,
.active > a {
  cursor: default;
}

.js {
  .onclick {
    cursor: pointer;
  }
}

.shadow {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .7);

  a > &,
  .js &.onclick,
  .js &[data-lightbox] {
    transition: box-shadow .2s;
    &:hover {
      box-shadow: 3px 3px 12px rgba(0, 0, 0, .9);
    }
  }
}

.duplet {
  small {
    display: block;
    margin-top: .25rem;
    font-size: 50%;
    line-height: 1.2;
  }
}

.preloader {
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -9999;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    margin-left: -32px;
    margin-top: -32px;
    background: url("#{$img-path}/loader/sector.128x128.gif") center no-repeat transparent;
    background-size: cover;
  }

  &.error {
    &::after {
      background-image: url("#{$img-path}/system/error.png");
    }
  }
}
