html {
  position: relative;
  overflow-y: scroll;
  min-height: 100%;
  background: url('#{$img-path}/bg/cover.jpg') center no-repeat transparent;
  background-size: cover;
}


body {
  font-family: Roboto, $font-family-base;
  background: transparent;
}
