//$enable-flex:              true;
//$enable-rounded:           false;
//$enable-shadows:           true;
//$enable-gradients:         true;
//$enable-transitions:       true;
//$enable-hover-media-query: true;
//$enable-grid-classes:      false;

// -------------------------

$img-path:                '../img';

$body-bg:                 #fafafa;

$input-color-placeholder: transparentize(#acc, .3);

// -------------------------

$color-white-deep:   #fafafa;
$color-white-dark:   #f7f7f7;
$color-white-darker: #f5f5f5;

$color-cyan:         #577;
$color-cyan-deep:    #466;
$color-cyan-dark:    #355;
$color-cyan-darker:  #033;
$color-cyan-light:   #799;
$color-cyan-lighter: #acc;

$color-violet:       #957;
$color-violet-dark:  darken($color-violet, 10%);
$color-violet-light: lighten($color-violet, 10%);

$color-active:       #077;
$color-active-dark:  darken($color-active, 10%);   // #044
$color-active-light: lighten($color-active, 10%);  // #0aa

$color-accent:       #d00016;
$color-accent-dark:  darken($color-accent, 10%);
$color-accent-light: lighten($color-accent, 10%);

$color-bright:       #2bbac3;
$color-bright-dark:  darken($color-bright, 10%);
$color-bright-light: lighten($color-bright, 10%);
