<footer id="footer">
    <div class="wrapper">
        <div class="container">
            <div class="copyright">
                &copy;
                <span itemprop="copyrightYear">2016</span>

                <div class="pull-xs-right">
                    <a rel="nofollow"
                       class="engine"
                       href="//aiohttp.readthedocs.org/"
                       target="_blank"
                    >aiohttp</a>
                    {% if yandex.metrika %}
                        <span class="ymet icon icon-line-chart onclick"
                              aria-hidden="true"
                              data-id="{{ yandex.metrika }}"
                        ></span>
                    {% endif %}
                    <span class="w3c icon icon-html5 onclick"
                          aria-hidden="true"
                    ></span>
                </div>
            </div>
        </div>
    </div>
</footer>
