{% from 'form/field.html' import render_field %}


<form id="form-contact"
      class="form"
      method="post"
      action="{{ url('contact') }}"
>
    {{ contact.csrf_token }}

    {{ render_field(contact.name,
            title = 'не менее 3 символов',
            pattern = '.{3,}',
            required = True) }}

    {{ render_field(contact.email,
            type = 'email',
            required = True) }}

    {{ render_field(contact.phone,
            type = 'tel',
            title = 'не менее 7 цифр',
            pattern = '[0-9\+\-\(\)\s]{7,}') }}

    {{ render_field(contact.subject) }}

    {{ render_field(contact.message,
            class = 'autosize',
            rows = 5,
            autofocus = True,
            required = True) }}

    <button class="btn btn-lg btn-primary"
            type="submit"
    >
        <span class="icon icon-send"
              aria-hidden="true"
        ></span>
    </button>
</form>
