#footer {
  clear: both;
  padding: ($spacer * 2) 0 2rem;
  color: #aaa;

  .wrapper {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .container {
    position: relative;
    z-index: 1;
    background: $body-bg;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: url(#{$img-path}/system/separator.horizontal.gif) repeat-x transparent;
    }
  }

  .copyright {
    padding: .25rem 0;
    font-size: .75rem;
    line-height: 2rem;
    .icon {
      vertical-align: middle;
      margin-left: 1rem;
      font-size: 1rem;
    }
    .onclick {
      display: none;
      @at-root .js & {
        display: inline-block;
        &:hover,
        &:focus {
          color: $link-hover-color;
        }
      }
    }
    .engine {
      color: #055;
      font-size: .8125rem;
      font-weight: 600;
      opacity: .5;
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}
