#header {
  .container {
    margin-top:  ($spacer * 4);
    margin-bottom: ($spacer * 3);
    @include media-breakpoint-down(sm) {
      margin-top:  ($spacer * .5);
      margin-bottom: ($spacer * .5);
    }
  }

  h1 {
    $size: 5rem;
    padding: 0;
    color: blue;
    font-size: ($size / 2);
    font-weight: 600;
    line-height: $size;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 1rem;
      @include size($size);
      background: url(#{$img-path}/logo.shadow.png) center no-repeat transparent;
      background-size: cover;
    }
  }
}
